@import url(https://fonts.googleapis.com/css?family=Inria+Sans:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inria Sans", sans-serif;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inria Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=-container] {
  max-width: 91.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

@supports (width: clamp( 11.25rem , 9.977663707rem  +  1.9977802442vw , 12.375rem )) {
  .select__body {
    width: clamp( 11.25rem , 9.977663707rem  +  1.9977802442vw , 12.375rem );
  }
}

@supports not (width: clamp( 11.25rem , 9.977663707rem  +  1.9977802442vw , 12.375rem )) {
  .select__body {
    width: calc(11.25rem + 1.125 * (100vw - 63.6875rem) / 56.3125);
  }
}

.select__title {
  color: inherit;
  text-align: left;
  border: 0.1875rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  background-color: white;
  cursor: pointer;
  width: 100%;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: url("../img/arr_down.svg");
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.625rem;
          flex: 0 0 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 1.8125rem;
  border-radius: 0 0 0.25rem 0.25rem;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 3px solid #d9d9d9;
  border-top: 0;
  padding: 0 15px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  padding: 0.3125rem 0;
  text-align: left;
  cursor: pointer;
  padding: 0.3125rem 0;
  border-top: 3px solid #d9d9d9;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup__close {
  position: absolute;
  top: -77%;
  left: 93%;
  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  width: 2.1875rem;
  height: 2.1875rem;
}

.popup__greeting {
  font-family: Ir;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.ripple_button {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
}

.ripple_button span {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: ripple 1s;
          animation: ripple 1s;
  opacity: 0;
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  to {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  to {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10);
  }
}

.header {
  background-color: #611BFF;
}

.header-container {
  max-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .header-logo{
  background-image: url("../img/header/logo.png"); }

.header-logo {
  min-width: 18.75rem;
  min-height: 5rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.header-image {
  max-height: 5rem;
}

.header-language {
  position: relative;
}

.header-language__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-language__text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-language__menu {
  width: 10.6875rem;
  background-color: #611BFF;
  z-index: 1000;
  padding: 0 0.9375rem;
}

.header-language__item {
  border-top: 3px solid #4922A1;
  padding: 0.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.1875rem;
}

.header-language__item span {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

.header-switch-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.header-language__menu {
  display: none;
}

.languageMenu__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 3.5625rem;
  left: -3.4375rem;
}

.languageIcon__active img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (height: clamp( 5.8125rem , 5.0104522184rem  +  4.0102389078vw , 8.75rem )) {
  .footer {
    height: clamp( 5.8125rem , 5.0104522184rem  +  4.0102389078vw , 8.75rem );
  }
}

@supports not (height: clamp( 5.8125rem , 5.0104522184rem  +  4.0102389078vw , 8.75rem )) {
  .footer {
    height: calc(5.8125rem + 2.9375 * (100vw - 20rem) / 73.25);
  }
}

.page-container {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.page-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page-image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: white;
  opacity: 0.2;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4922A1;
  background-image: url("../img/fon.svg");
  background-size: 30%;
  min-width: 36%;
}

.content-wrapper {
  margin: 1.25rem 0;
  max-width: 35.6875rem;
  border-radius: 0.625rem;
  background-color: #ffffff;
  padding: 6.875rem 2.625rem 2.5rem;
}

@supports (width: clamp( 17.5rem , 12.3035714286rem  +  25.9821428571vw , 35.6875rem )) {
  .content-wrapper {
    width: clamp( 17.5rem , 12.3035714286rem  +  25.9821428571vw , 35.6875rem );
  }
}

@supports not (width: clamp( 17.5rem , 12.3035714286rem  +  25.9821428571vw , 35.6875rem )) {
  .content-wrapper {
    width: calc(17.5rem + 18.1875 * (100vw - 20rem) / 70);
  }
}

.content-header {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3.3125rem;
}

.content-text {
  line-height: 1.5rem;
  margin-bottom: 4.375rem;
}

.form-page {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-page__button {
  text-align: left;
  padding: 0.6875rem 3rem;
  background-color: #611BFF;
  border-radius: 0.625rem;
  margin-top: 5.6875rem;
  line-height: 1.1875rem;
  margin-bottom: 3.5rem;
  font-weight: 700;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #fff;
}

.form-page__button:hover {
  background-color: #4c00fd;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.form-page__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-page__university-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-page__university-select label {
  margin-bottom: 0.875rem;
}

.form-page__grade-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-page__grade-select label {
  margin-bottom: 0.875rem;
}

.content-help {
  font-size: 1rem;
  font-weight: 200;
  color: #A0A0A0;
}

.content-help:hover {
  text-decoration: underline;
}

.page-image img {
  max-width: 100%;
  /* Чтобы изображение не выходило за пределы своего контейнера */
  height: auto;
  /* Чтобы сохранить пропорции изображения */
}

.no-webp .page{
  background: url("../img/WebPioneersGray.png"); }

.page {
  background-size: 15%;
  background-color: rgba(0, 0, 0, 0.1);
}

.container-page-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 72.5rem;
}

.search {
  width: 100%;
  position: relative;
  padding: 3.125rem 0;
  background-color: transparent;
  background-image: none;
}

.search::before {
  content: url("../img/search.svg");
  position: absolute;
  cursor: pointer;
  left: 95%;
  top: 40%;
}

.search-input input {
  width: 100%;
  padding-left: 1.625rem;
  border-radius: 0.625rem;
  height: 3.3125rem;
}

.search-input input::-webkit-input-placeholder {
  color: #CFCFCF;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.search-input input:-moz-placeholder {
  color: #CFCFCF;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.search-input input::-moz-placeholder {
  color: #CFCFCF;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.search-input input:-ms-input-placeholder {
  color: #CFCFCF;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.search-input input:focus {
  outline: 3px solid #611BFF;
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.4375rem;
}

.courses-item {
  padding: 1.25rem 0 0.9375rem 0.6875rem;
  border-radius: 0.3125rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-right: clamp( 0.6875rem , -0.1988636364rem  +  4.4318181818vw , 3.125rem )) {
  .courses-item {
    padding-right: clamp( 0.6875rem , -0.1988636364rem  +  4.4318181818vw , 3.125rem );
  }
}

@supports not (padding-right: clamp( 0.6875rem , -0.1988636364rem  +  4.4318181818vw , 3.125rem )) {
  .courses-item {
    padding-right: calc(0.6875rem + 2.4375 * (100vw - 20rem) / 55);
  }
}

.courses-details {
  max-width: 40.625rem;
  padding-left: 1.3125rem;
}

.courses-title {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 700;
}

.courses-description {
  padding-top: 0.625rem;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.6875rem 0;
}

.pagging__numbers {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.625rem;
  margin: 0 0.4375rem;
  overflow: hidden;
}

.pagging__arrow {
  background-color: #fff;
  border-radius: 0.625rem;
}

.pagging__button {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.3125rem;
  width: 4.625rem;
  color: #CECECE;
  font-size: 1.25rem;
}

.pagging__button-active {
  background-color: #611BFF;
  color: white;
  border-radius: 0.625rem;
}

.no-webp .page-faq{
  background: url("../img/WebPioneersGray.png"); }

.page-faq {
  background-size: 15%;
  background-color: rgba(0, 0, 0, 0.1);
}

.faq-container {
  max-width: 72.5rem;
}

.faq-container h1 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.faq-heading-container {
  padding: 0.625rem 0;
}

.faq-box {
  border-radius: 0.625rem;
  background-color: white;
  margin-top: 1.5625rem;
}

.faq-instructions {
  padding: 0.3125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0rem;
  -webkit-column-gap: 2.3125rem;
     -moz-column-gap: 2.3125rem;
          column-gap: 2.3125rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.faq-instructions li {
  max-width: 16.375rem;
  min-width: 11.25rem;
  height: 19.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-instructions p {
  padding: 1.25rem;
  font-size: 1.5rem;
  text-align: center;
}

.faq-instructions .faq-question-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq-instructions a {
  background-color: #611bff;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.9375rem 0;
  width: 80%;
  border-radius: 0.625rem;
  margin-bottom: 1.5625rem;
}

.faq-questions {
  padding: 2.1875rem 2.5rem;
  margin-bottom: 7rem;
  position: relative;
}

.faq-questions h1 {
  margin-bottom: 1.125rem;
}

.faq-questions p {
  padding-bottom: 0.625rem;
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;
  line-height: 1.5em;
}

.faq-questions a {
  -webkit-text-decoration: underline solid 1px;
          text-decoration: underline solid 1px;
}

.faq-questions button {
  width: 100%;
  padding-bottom: 1.0625rem;
  text-align: start;
}

.faq-questions button::before {
  content: "";
  width: 0.8125rem;
  height: 0.4375rem;
  background-image: url("../img/arr_down.svg");
  position: absolute;
  left: 95%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.faq-questions button._spoller-active::before {
  background-image: url("../img/arr_up.svg");
  width: 0.8125rem;
  height: 0.4375rem;
  background-repeat: no-repeat;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

._spoller-active {
  font-weight: bold;
}

.faq-spoiler-block {
  border-bottom: solid 2px #e6e6e6;
  margin-bottom: 0.625rem;
}

.faq-spoiler-block:last-child {
  margin-bottom: 0;
}

.no-webp .page-instruction{
  background: url("../img/WebPioneersGray.png"); }

.page-instruction {
  background-size: 15%;
  background-color: rgba(0, 0, 0, 0.1);
}

.instruction-container {
  max-width: 72.5rem;
  background-color: white;
  padding: 6.25rem 3.125rem;
  margin-bottom: 9.375rem;
  font-size: 1.5rem;
  border-radius: 0 0 0.75rem 0.75rem;
}

.instruction-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  width: 50%;
  margin-bottom: 6.875rem;
}

.instruction-container h2 {
  font-weight: bold;
  margin-bottom: 1.875rem;
  margin-top: 3.75rem;
}

.instruction-container ol {
  margin-left: 1.25rem;
  margin-bottom: 2.8125rem;
}

.instruction-container li {
  margin-bottom: 2.1875rem;
}

.instruction-container ul {
  margin-top: 0.3125rem;
}

.instruction-container ul li {
  margin-bottom: 0;
}

.instruction-container ul li::before {
  content: "-";
  position: relative;
  left: -0.3125rem;
}

.instruction-container a {
  color: #611BFF;
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.5s linear;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 75em) {
  .courses-item {
    padding-right: inherit;
  }
}

@media (min-width: 90em) {
  .content-wrapper {
    width: inherit;
  }
}

@media (max-width: 45em) {
  .page-container {
    min-height: 125vh;
  }

  .courses-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 76.875em) {
  .page-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .page-image {
    display: none;
  }
}

@media (max-width: 63.6875em) {
  .select__body {
    width: inherit;
  }

  .select__body {
    width: 11.25rem;
  }
}

@media (max-width: 63.75em) {
  .form-page__selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 53.125em) {
  .search::before {
    left: 90%;
  }
}

@media (max-width: 29.375em) {
  .header-language__text {
    display: none;
  }

  .header-language__menu {
    width: 8.25rem;
  }

  .languageMenu__active {
    left: -4.375rem;
  }

  .search::before {
    left: 86%;
  }
}

@media (max-width: 26.25em) {
  .header-logo {
    min-width: 12.5rem;
  }
}

.webp .header-logo{ background-image: url(../img/header/logo.webp); }

.webp .page{ background: url(../img/WebPioneersGray.webp); }

.webp .page-faq{ background: url(../img/WebPioneersGray.webp); }

.webp .page-instruction{ background: url(../img/WebPioneersGray.webp); }